:root {
  --text: #333; 
  --background: #f4f4f9; 
  --secondary: #ccc; 
  --hover: #8373e6; 
  --accent: #8373e6; 
}

html {
  scroll-behavior: smooth;
}

main {
  width: 100%;
  gap: 5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all ease 0.1s;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
  opacity: 0;
  text-wrap: nowrap;
  display: block;
}

/*sidebar + progress bar*/
#sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 20%;
  height: 100vh;
  padding: 1rem;
}

.progress-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid var(--secondary);
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.content {
  position: relative;
  max-width: 50%;
  padding: 0;
}

.section {
  height: auto;
  min-height: 100vh;
  overflow-y: auto;
}

li {
  list-style: none;
  width: 1rem;
  height: 1rem;
  background-color: var(--secondary);
  border-radius: 1rem;
}

li:hover {
  background-color: var(--hover);
  color: #fff;
}

.progress-bar:hover li {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

.progress-bar:hover a {
  opacity: 1;
}

li.active {
  background-color: var(--accent);
}

@media screen and (max-width: 800px) {
  #sidebar {
    display: none;
  }
  .content {
    max-width: 100%;
  }
  main {
    padding: 0 5%;
  }
  .section {
    height: auto;
  }
}

.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.results-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  flex-grow: 1;
  height: 100vh;
}

.charts-container {
  display: flex;
  flex-direction: row; 
  gap: 20px; 
  justify-content: center; 
}


/* Dropdown container */
.dropdown-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; 
}

/* Specific styles for battery model dropdown */
#battery-chemistry {
  width: 200px; 
  padding: 6px;
  border: 2px solid #8373e6;
  border-radius: 4px; 
  background-color: #f4f4f9; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  color: #333; 
  font-size: 14px; 
  margin-bottom: 10px; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

/* Apply different styles to cell model dropdown to match */
#cell-model {
  width: 200px; 
  padding: 6px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 20px; 
}

/* Radio buttons styling */
.radio-buttons-container {
  width: 100%;
  display: flex;
  justify-content: center; 
}

.radio-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-radio input {
  display: none;
}

.radio-btn {
  margin: 10px;
  width: 120px; 
  height: 140px;
  border: 2px solid transparent;
  display: inline-block;
  border-radius: 8px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 15px #c3c3c367;
  cursor: pointer;
  transition: transform 0.2s ease, border 0.2s ease;
}

.radio-btn > i {
  color: #ffffff;
  background-color: #8373e6;
  font-size: 16px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%) scale(4);
  border-radius: 50px;
  padding: 2px;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}

.radio-btn .hobbies-icon {
  width: 80px; 
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-btn .hobbies-icon i {
  color: #8373e6;
  line-height: 80px;
  font-size: 60px;
}

.radio-btn .hobbies-icon h3 {
  color: #8373e6;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px 0 0; 
}

.custom-radio input:checked + .radio-btn {
  border: 2px solid #8373e6;
}

.custom-radio input:checked + .radio-btn > i {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.custom-radio input:not(:checked) + .radio-btn {
  transform: scale(0.85);
}

/* Fields container setup */
.fields-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  max-width: 600px; 
}

.field {
  display: flex;
  width: 100%;
  margin-bottom: 20px; 
}

/* Time evaluation input field */
.time-eval-field {
  width: 100%; 
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Drive cycle dropdown styling */
#driveCycle-field select {
  width: 100%; 
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Box styling for draggable items */
.box {
  width: 400px;
  margin: 0 10px; 
  display: flex; 
  padding: 10px;
  border: 2px dashed #ccc;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  min-height: 200px; 
  height: auto;
  overflow-y: auto;
}

.box.over {
  border-color: #0077b6;
  background: #e0f7ff;
  transition: .3s ease;
}

/* Draggable items styling */
.draggable {
  padding: 10px;
  margin: 10px;
  background: #8373e6;
  color: #fff;
  cursor: grab;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  max-width: 100%; 
  box-sizing: border-box;
}

.draggable:active {
  cursor: grabbing;
  transform: scale(1.05);
}

.draggable:hover {
  background: #023e8a;
}

/* Button container setup */
.button-container {
  display: flex;
  justify-content: center; 
}

/* Submit button styling */
.submit-btn {
  background-color: #8373e6; 
  color: #fff; 
  border: none;
  padding: 12px 24px; 
  border-radius: 8px; 
  font-size: 16px; 
  font-weight: 500; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.submit-btn:hover {
  background-color: #6450b5; 
  transform: scale(1.05); 
}

.submit-btn:active {
  background-color: #483590;
  transform: scale(0.98); 
}
